<ul class="post-previews">
  {% for post in include.posts %}
    <li class="post-preview">
      <a href="{{ post.url }}">
        <div class="metadata">
          <time datetime="{{ post.date }}">
            {{ post.date | date: "%B %-d, %Y" }}
          </time>

          <div class="reading-time">
            {% include reading-time.html content=post.content %}
          </div>
        </div>

        <div class="title h4">
          {{ post.title }}
        </div>

        {% if post.summary %}
          <p class="summary">
            {{ post.summary }}
          </p>
        {%- endif -%}
      </a>
    </li>
  {% endfor %}
</ul>
