<ul class="post-previews">
  {% for post in include.posts %}
    <li>
      <header>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        <div class="post-metadata">
          <time datetime="{{ post.date }}">{{ post.date | date: "%B %-d, %Y" }}</time>
          {% include reading-time.html content=post.content %}
        </div>
      </header>
      {% if post.summary %}
        <p class="summary">
          {{ post.summary }}
        </p>
      {%- endif -%}
    </li>
  {% endfor %}
</ul>
