html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--clr-background);
  text-rendering: optimizeSpeed;
  font-family: var(--ff-body);
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  line-height: 1.75;
  letter-spacing: -0.25px;
  color: var(--clr-foreground);

  & > * {
    overflow: auto;
  }
}

h1, h2, h3 {
  font-family: var(--ff-header);
  font-weight: var(--fw-3);
  line-height: 1.1;
  letter-spacing: -0.75px;
}

.h1, h1 {
  font-size: var(--fs-5);
}

.h2, h2 {
  font-size: var(--fs-4);
}

.h3, h3 {
  font-size: var(--fs-3);
}

ul, ol {
  padding-left: 1rem;
}

a {
  color: var(--clr-foreground);
  text-decoration-color: var(--clr-accent);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3px;
}

hr {
  border-top: 1px dashed var(--clr-foreground);
}

strong {
  font-weight: var(--fw-4);
}

em {
  font-style: italic;
}
