:root {
  /* fonts */
  --ff-body: 'Source Serif 4', serif;
  --ff-header: 'Oswald', sans-serif;

  /* font sizes */
  --fs-1: 0.875rem;
  --fs-2: 1.125rem;
  --fs-3: 2.5rem;
  --fs-4: 3rem;
  --fs-5: 4rem;

  /* font weights */
  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 600;
  --fw-4: 800;
}
