:root {
  /* fonts */
  --ff-body: 'Source Sans 3', sans-serif;
  --ff-header: 'Oswald', sans-serif;
  --ff-code: 'JetBrains Mono', monospace;

  /* font sizes */
  --fs-1: 0.75rem;
  --fs-2: 1rem;
  --fs-3: 1.75rem;
  --fs-4: 2.25rem;
  --fs-5: 3rem;

  /* font weights */
  --fw-1: 200;
  --fw-2: 300;
  --fw-3: 400;
  --fw-4: 600;

  --lh-1: 1.1;
  --lh-2: 1.4; // Remove when post list is styled, Nick - Sat Nov 23 2024
  --lh-3: 1.75;
}

@media (width <= 720px) {
  :root {
    font-size: 16px;
  }
}

@media (width <= 1440px) {
  :root {
    font-size: 20px;
  }
}

@media (width > 1440px) {
  :root {
    font-size: 24px;
  }
}
