.flow > *+* {
  margin-top: var(--flow-spacer);
}

.container {
  max-width: var(--container-max-width);
  padding: 0 1.5rem;
  margin: 0 auto;
}

.primary-header {
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;

  & > section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

  }

  a {
    text-decoration-line: none;

    &:hover {
      text-decoration-line: underline;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.primary-footer {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-top: 3rem;
}
