.flow > *+* {
  margin-top: var(--flow-spacer);
}

.container {
  max-width: var(--container-max-width);
  padding: 0 1.5rem;
  margin: 0 auto;
}

.primary-header {
  padding: 1rem 0 0.5rem 0;
  margin-bottom: 1rem;

  & > section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  a.site-id {
    font-family: var(--ff-header);
    font-weight: var(--fw-2);
    font-size: 1.25rem;
    line-height: 1.5rem;
    position: relative;

    color: var(--clr-foreground);
    text-decoration-line: none;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.primary-footer {
  padding: 0.5rem 0;
  margin-top: 1rem;

  > * {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
  }
}
