html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--clr-background);
  text-rendering: optimizeSpeed;
  font-family: var(--ff-body);
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  line-height: 1.75;
  letter-spacing: -0.25px;
  color: var(--clr-foreground);

  & > * {
    overflow: auto;
  }
}

h1, h2, h3 {
  font-family: var(--ff-header);
  font-weight: var(--fw-3);
  line-height: 1.1;
  letter-spacing: -0.75px;
}

.h1, h1 {
  font-size: var(--fs-5);
}

.h2, h2 {
  font-size: var(--fs-4);
}

.h3, h3 {
  font-size: var(--fs-3);
}

ul, ol {
  padding-left: 1rem;
}

a {
  color: var(--clr-foreground);
  text-decoration-color: var(--clr-accent);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3px;
}

hr {
  border-top: 1px dashed var(--clr-foreground);
}

strong {
  font-weight: var(--fw-4);
}

em {
  font-style: italic;
}

:not(.highlight) > code {
  font-style: italic;
  padding: 0 0.25em;
  background-color: var(--clr-primary);
}

.flow > *+* {
  margin-top: var(--flow-spacer);
}

.container {
  max-width: var(--container-max-width);
  padding: 0 1.5rem;
  margin: 0 auto;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.primary-header {
  background-color: var(--clr-background);
  padding: 0.5rem 0;

  & > section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

  }

  a {
    text-decoration-line: none;

    &:hover {
      text-decoration-line: underline;
    }
  }

  nav {
    display: flex;
    gap: 1rem;
  }
}

.primary-footer {
  display: grid;
  justify-content: center;
  background-color: var(--clr-background);
  gap: 0.5rem;
  padding: 1rem;
}

.social-media {
  margin: 0 auto;
}

.post-previews {
  padding: 1rem;
}

.post {
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  header time {
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    font-style: italic;
  }

  blockquote {
    box-shadow: inset 4px 0 0 0 var(--clr-accent);
    background-color: var(--clr-secondary);
    padding: 1em;
    font-style: italic;
  }

  pre {
    padding: 1rem;
    font-family: monospace;
    font-size: var(--fs-1);
  }
}
