.post-previews {
  padding: 0;

  li {
    list-style: none;
    padding: 1em 0;

    &:first-child {
      padding-top: 0;
    }

    time {
      display: block;
      font-size: var(--fs-1);
      font-weight: var(--fw-1);
    }

    p {
      font-weight: var(--fw-1);
    }

    .post-metadata {
      font-size: var(--fs-1);
      font-weight: var(--fw-1);
      margin-top: -0.25em;
    }
  }

  li + li {
    border-top: 1px solid color-mix(in srgb, var(--clr-foreground) 50%, var(--clr-background));
  }
}

.post {
  .post-metadata {
    font-size: var(--fs-2);
    font-weight: var(--fw-1);
    padding-top: 0.5rem;
  }

  blockquote {
    box-shadow: inset 4px 0 0 0 var(--clr-accent);
    background-color: var(--clr-secondary);
    padding: 1em;
    font-style: italic;
  }

  pre {
    padding: 1em 2em;
    overflow-x: scroll;
    font-family: var(--ff-code);
    font-size: var(--fs-1);
  }
}

.post-metadata {
  --horizontal-spacing: 0.75rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--horizontal-spacing);

  * + * {
    display: flex;
    align-items: center;
  }

  * + *:before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1px;
    margin-right: var(--horizontal-spacing);
    background-color: currentColor;
  }
}
