.post-previews {
  padding: 1rem;
}

.post {
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  header {
    .subheader {
      display: flex;
      flex-direction: column;
      padding-top: 0.5rem;
    }

    time {
      font-size: var(--fs-2);
      font-weight: var(--fw-1);
    }
  }

  blockquote {
    box-shadow: inset 4px 0 0 0 var(--clr-accent);
    background-color: var(--clr-secondary);
    padding: 1em;
    font-style: italic;
  }

  pre {
    padding: 1em 2em;
    overflow-x: scroll;
    font-family: var(--ff-code);
    font-size: var(--fs-1);
  }
}
