.post-previews {
  padding: 0;

  li.post-preview {
    list-style: none;
    padding: 2rem 0 2rem 0;
    border-top: 1px solid var(--clr-tertiary);

    &:first-child {
      border-top: none;
      padding: 0 0 2rem 0;
    }

    > * {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    a {
      text-decoration: none;
    }

    &:hover .title {
      text-decoration: underline;
      text-decoration-color: var(--clr-accent);
      text-decoration-skip-ink: auto;
      text-decoration-thickness: 3px;
    }

    .metadata {
      --horizontal-spacing: 0.25rem;

      font-size: var(--fs-1);

      time {
        display: inline-block;
        margin-right: var(--horizontal-spacing);
      }

      .reading-time {
        display: inline-block;
      }

      * + *:before {
        content: '';
        display: inline-block;
        height: 10px;
        width: 1px;
        margin-right: var(--horizontal-spacing);
        background-color: currentColor;
      }
    }
  }
}

.post {
  .post-metadata {
    font-size: var(--fs-2);
    font-weight: var(--fw-1);
    padding-top: 0.5rem;
  }

  blockquote {
    box-shadow: inset 4px 0 0 0 var(--clr-accent);
    background-color: var(--clr-secondary);
    padding: 1em;
    font-style: italic;
  }

  pre {
    padding: 1em 2em;
    overflow-x: scroll;
    font-family: var(--ff-code);
    font-size: var(--fs-1);
  }
}

.post-metadata {
  --horizontal-spacing: 0.75rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--horizontal-spacing);

  * + * {
    display: flex;
    align-items: center;
  }

  * + *:before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1px;
    margin-right: var(--horizontal-spacing);
    background-color: currentColor;
  }
}
