#theme-toggle {
  > input {
    display: none;
  }

  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.25rem;
  padding: 0 0.25rem;

  background-color: var(--clr-foreground);
  color: var(--clr-background);

  .icons {
    height: 2rem;;
    transition: 0.1s;

    * {
      margin: 2px 0;
      width: 1.25rem;
      height: 1.25rem;
    }

    .moon {
      padding: 0 1px 1px 1px;
    }
  }

  input[type=checkbox]:checked + .icons {
    transform: translateY(-1.4rem);
  }

  &:hover {
    cursor: pointer;
  }
}

body {
  transition: background-color .2s, color .4s ease-in-out;
}
