@charset "UTF-8";
*,
*::before,
*::after {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
font: inherit;
}
html {
color-scheme: dark light;
}
body {
min-height: 100vh;
}
img,
picture,
svg,
video {
display: block;
max-width: 100%;
}
:root {
/* fonts */
--ff-body: "Source Sans 3", sans-serif;
--ff-header: "Oswald", sans-serif;
--ff-code: "JetBrains Mono", monospace;
/* font sizes */
--fs-1: 0.75rem;
--fs-2: 1rem;
--fs-3: 1.35rem;
--fs-4: 1.75rem;
--fs-5: 2.25rem;
--fs-6: 3rem;
/* font weights */
--fw-1: 200;
--fw-2: 300;
--fw-3: 400;
--fw-4: 600;
--lh-1: 1.1;
--lh-2: 1.4;
--lh-3: 1.75;
}
@media (width <= 720px) {
  :root {
    font-size: 16px;
  }
}
@media (width <= 1440px) {
  :root {
    font-size: 20px;
  }
}
@media (width > 1440px) {
  :root {
  font-size: 24px;
  }
  }
  :root {
  /* palette */
  --clr-background: light-dark(#fff, #171e29);
  --clr-foreground: light-dark(#1a1a1a, #fff);
  --clr-primary: light-dark(#e4d3b5, #39506f);
  --clr-secondary: light-dark(#f3f0eb, #212c3d);
  --clr-accent: light-dark(#daab5b, #eca52d);
  /* code highlighting */
  --clr-code-background: light-dark(#f3f0eb, #212c3d);
  --clr-code-error: light-dark(#d72828, #e74343);
  --clr-code-background-error: light-dark(transparent, transparent);
  --clr-code-comment: light-dark(#5479a2, #ffa8a8);
  --clr-code-constant: light-dark(#1a1a1a, #fff);
  --clr-code-literal: light-dark(#bd882d, #e6db74);
  --clr-code-name: light-dark(#1a1a1a, #fff);
  --clr-code-operator: light-dark(#bd882d, #e6db74);
  --clr-code-date: light-dark(#bd882d, #e6db74);
  --clr-code-other: light-dark(#15844b, #3aeaac);
  }
  .dark {
  color-scheme: dark;
  }
  .light {
  color-scheme: light;
  }
  .highlight pre {
  background-color: var(--clr-code-background);
  }
  .highlight .hll {
  background-color: var(--clr-code-background);
  }
  .highlight .c {
  color: var(--clr-code-comment);
  } /* Comment */
  .highlight .k {
  color: var(--clr-code-constant);
  } /* Keyword */
  .highlight .l {
  color: var(--clr-code-literal);
  } /* Literal */
  .highlight .n {
  color: var(--clr-code-name);
  } /* Name */
  .highlight .o {
  color: var(--clr-code-operator);
  } /* Operator */
  .highlight .p {
  color: var(--clr-code-name);
  } /* Punctuation */
  .highlight .cm {
  color: var(--clr-code-comment);
  } /* Comment.Multiline */
  .highlight .cp {
  color: var(--clr-code-comment);
  } /* Comment.Preproc */
  .highlight .c1 {
  color: var(--clr-code-comment);
  } /* Comment.Single */
  .highlight .cs {
  color: var(--clr-code-comment);
  } /* Comment.Special */
  .highlight .ge {
  font-style: italic;
  } /* Generic.Emph */
  .highlight .gs {
  font-weight: bold;
  } /* Generic.Strong */
  .highlight .kc {
  color: var(--clr-code-constant);
  } /* Keyword.Constant */
  .highlight .kd {
  color: var(--clr-code-constant);
  } /* Keyword.Declaration */
  .highlight .kn {
  color: var(--clr-code-operator);
  } /* Keyword.Namespace */
  .highlight .kp {
  color: var(--clr-code-constant);
  } /* Keyword.Pseudo */
  .highlight .kr {
  color: var(--clr-code-constant);
  } /* Keyword.Reserved */
  .highlight .kt {
  color: var(--clr-code-constant);
  } /* Keyword.Type */
  .highlight .ld {
  color: var(--clr-code-date);
  } /* Literal.Date */
  .highlight .m {
  color: var(--clr-code-literal);
  } /* Literal.Number */
  .highlight .s {
  color: var(--clr-code-date);
  } /* Literal.String */
  .highlight .na {
  color: var(--clr-code-other);
  } /* Name.Attribute */
  .highlight .nb {
  color: var(--clr-code-name);
  } /* Name.Builtin */
  .highlight .nc {
  color: var(--clr-code-other);
  } /* Name.Class */
  .highlight .no {
  color: var(--clr-code-constant);
  } /* Name.Constant */
  .highlight .nd {
  color: var(--clr-code-other);
  } /* Name.Decorator */
  .highlight .ni {
  color: var(--clr-code-name);
  } /* Name.Entity */
  .highlight .ne {
  color: var(--clr-code-other);
  } /* Name.Exception */
  .highlight .nf {
  color: var(--clr-code-other);
  } /* Name.Function */
  .highlight .nl {
  color: var(--clr-code-name);
  } /* Name.Label */
  .highlight .nn {
  color: var(--clr-code-name);
  } /* Name.Namespace */
  .highlight .nx {
  color: var(--clr-code-other);
  } /* Name.Other */
  .highlight .py {
  color: var(--clr-code-name);
  } /* Name.Property */
  .highlight .nt {
  color: var(--clr-code-operator);
  } /* Name.Tag */
  .highlight .nv {
  color: var(--clr-code-name);
  } /* Name.Variable */
  .highlight .ow {
  color: var(--clr-code-operator);
  } /* Operator.Word */
  .highlight .w {
  color: var(--clr-code-name);
  } /* Text.Whitespace */
  .highlight .mf {
  color: var(--clr-code-literal);
  } /* Literal.Number.Float */
  .highlight .mh {
  color: var(--clr-code-literal);
  } /* Literal.Number.Hex */
  .highlight .mi {
  color: var(--clr-code-literal);
  } /* Literal.Number.Integer */
  .highlight .mo {
  color: var(--clr-code-literal);
  } /* Literal.Number.Oct */
  .highlight .sb {
  color: var(--clr-code-date);
  } /* Literal.String.Backtick */
  .highlight .sc {
  color: var(--clr-code-date);
  } /* Literal.String.Char */
  .highlight .sd {
  color: var(--clr-code-date);
  } /* Literal.String.Doc */
  .highlight .s2 {
  color: var(--clr-code-date);
  } /* Literal.String.Double */
  .highlight .se {
  color: var(--clr-code-literal);
  } /* Literal.String.Escape */
  .highlight .sh {
  color: var(--clr-code-date);
  } /* Literal.String.Heredoc */
  .highlight .si {
  color: var(--clr-code-date);
  } /* Literal.String.Interpol */
  .highlight .sx {
  color: var(--clr-code-date);
  } /* Literal.String.Other */
  .highlight .sr {
  color: var(--clr-code-date);
  } /* Literal.String.Regex */
  .highlight .s1 {
  color: var(--clr-code-date);
  } /* Literal.String.Single */
  .highlight .ss {
  color: var(--clr-code-date);
  } /* Literal.String.Symbol */
  .highlight .bp {
  color: var(--clr-code-name);
  } /* Name.Builtin.Pseudo */
  .highlight .vc {
  color: var(--clr-code-name);
  } /* Name.Variable.Class */
  .highlight .vg {
  color: var(--clr-code-name);
  } /* Name.Variable.Global */
  .highlight .vi {
  color: var(--clr-code-name);
  } /* Name.Variable.Instance */
  .highlight .il {
  color: var(--clr-code-literal);
  } /* Literal.Number.Integer.Long */
  .highlight .gu {
  color: var(--clr-code-comment);
  } /* Generic.Subheading & Diff Unified/Comment? */
  .highlight .gd {
  color: var(--clr-code-operator);
  } /* Generic.Deleted & Diff Deleted */
  .highlight .gi {
  color: var(--clr-code-other);
  } /* Generic.Inserted & Diff Inserted */
  /* Error */
  .highlight .err {
  color: var(--clr-code-error);
  background-color: var(--clr-code-background-error);
  }
  /* Generic Heading & Diff Header */
  :root {
  --flow-spacer: 1.5em;
  --container-max-width: 960px;
  }
  html {
  scroll-behavior: smooth;
  }
  body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: var(--clr-foreground);
  background-color: var(--clr-background);
  text-rendering: optimizeSpeed;
  font-family: var(--ff-body);
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  line-height: var(--lh-3);
  letter-spacing: -0.25px;
  }
  body.dark {
  font-weight: var(--fw-1);
  }
  body > * {
  overflow: auto;
  }
  strong {
  font-weight: var(--fw-4);
  }
  h1, h2, h3, .h1, .h2, .h3 {
  font-family: var(--ff-header);
  font-weight: var(--fw-3);
  letter-spacing: -0.75px;
  line-height: var(--lh-1);
  }
  .h1, h1 {
  font-size: var(--fs-6);
  }
  .h2, h2 {
  font-size: var(--fs-5);
  }
  .h3, h3 {
  font-size: var(--fs-4);
  }
  .h4, h4 {
  font-family: var(--ff-body);
  font-weight: var(--fw-3);
  font-size: var(--fs-3);
  letter-spacing: -0.75px;
  line-height: var(--lh-1);
  }
  ul, ol {
  padding-left: 1rem;
  }
  a {
  color: var(--clr-foreground);
  text-decoration-color: var(--clr-accent);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3px;
  }
  hr {
  border: none;
  text-align: center;
  }
  hr:before {
  content: "•••";
  font-size: 1.5rem;
  letter-spacing: 0.75rem;
  color: var(--clr-foreground);
  }
  em {
  font-style: italic;
  }
  .capitalize {
  text-transform: capitalize;
  }
  .page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  }
  #theme-toggle {
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
  position: relative;
  border: 1px solid currentColor;
  border-radius: 100%;
  padding: 0 0.25rem;
  }
  #theme-toggle > input {
  display: none;
  }
  #theme-toggle .icons {
  height: 2rem;
  transition: 0.1s;
  }
  #theme-toggle .icons .sun, #theme-toggle .icons .moon {
  width: 1.25rem;
  height: 1.25rem;
  }
  #theme-toggle .icons .sun {
  margin: 2px 0;
  }
  #theme-toggle .icons .moon {
  margin: 1px 0;
  padding: 0 1px 1px 1px;
  }
  #theme-toggle input[type=checkbox]:not(:checked) + .icons {
  transform: translateY(-1.35rem);
  }
  #theme-toggle:hover {
  cursor: pointer;
  background-color: color-mix(in lab, var(--clr-background) 20%, var(--clr-accent));
  }
  .social-media {
  display: flex;
  align-items: center;
  }
  .social-media a, .social-media svg {
  color: inherit;
  width: 1em;
  height: 1em;
  margin-bottom: 2px;
  }
  .flow > * + * {
  margin-top: var(--flow-spacer);
  }
  .container {
  max-width: var(--container-max-width);
  padding: 0 1.5rem;
  margin: 0 auto;
  }
  .primary-header {
  padding: 1rem 0 0.5rem 0;
  margin-bottom: 1rem;
  }
  .primary-header > section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  }
  .primary-header a.site-id {
  font-family: var(--ff-header);
  font-weight: var(--fw-2);
  font-size: 1.25rem;
  line-height: 1.5rem;
  position: relative;
  color: var(--clr-foreground);
  text-decoration-line: none;
  }
  .primary-header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  }
  .primary-footer {
  padding: 0.5rem 0;
  margin-top: 1rem;
  }
  .primary-footer > * {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  }
  button {
  padding: 0.1em 0.5em;
  background-color: var(--clr-background);
  color: var(--clr-foreground);
  border: 1px solid var(--clr-foreground);
  }
  button:hover {
  cursor: pointer;
  background-color: light-dark(var(--clr-accent), var(--clr-primary));
  }
  button.small {
  font-size: var(--fs-1);
  }
  .post-previews {
  padding: 0;
  }
  .post-previews li.post-preview {
  list-style: none;
  padding: 2rem 0 2rem 0;
  border-top: 1px solid var(--clr-primary);
  }
  .post-previews li.post-preview a {
  text-decoration: none;
  }
  .post-previews li.post-preview:hover .title {
  text-decoration: underline;
  text-decoration-color: var(--clr-accent);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3px;
  }
  .post-previews li.post-preview .metadata {
  --horizontal-spacing: 0.25rem;
  font-size: var(--fs-1);
  }
  .post-previews li.post-preview .metadata time {
  display: inline-block;
  margin-right: var(--horizontal-spacing);
  }
  .post-previews li.post-preview .metadata .reading-time {
  display: inline-block;
  }
  .post-previews li.post-preview .metadata * + *:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  margin-right: var(--horizontal-spacing);
  background-color: currentColor;
  }
  .post .post-metadata {
  font-size: var(--fs-2);
  font-weight: var(--fw-1);
  padding-top: 0.5rem;
  }
  .post blockquote {
  box-shadow: inset 4px 0 0 0 var(--clr-accent);
  background-color: var(--clr-secondary);
  padding: 1em;
  font-style: italic;
  }
  .post pre {
  padding: 1em 2em;
  overflow-x: scroll;
  font-family: var(--ff-code);
  font-size: var(--fs-1);
  }
  .post-metadata {
  --horizontal-spacing: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--horizontal-spacing);
  }
  .post-metadata * + * {
  display: flex;
  align-items: center;
  }
  .post-metadata * + *:before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1px;
  margin-right: var(--horizontal-spacing);
  background-color: currentColor;
  }
  .tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  }
  .tags a.tag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  background-color: var(--clr-primary);
  font-size: var(--fs-1);
  text-decoration: none;
  border-radius: 0.5rem;
  }
  .tags a.tag:hover {
  background-color: var(--clr-accent);
  }
  /*# sourceMappingURL=base.css.map */