<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

    {% include page-title.html %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&&family=JetBrains+Mono:wght@200;300&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap">

    <link rel="stylesheet" href="/assets/styles/base.css">

    {% for css in layout.css %}
      <link rel="stylesheet" href="/assets/styles/{{ css }}" />
    {% endfor %}

    {% for css in page.css %}
      <link rel="stylesheet" href="/assets/styles/{{ css }}" />
    {% endfor %}
  </head>

  <body>
    <header class="primary-header">
      <section class="container">
        <a class="site-id" href="/">Nick Arora</a>
        <nav>
          {% include theme-toggle.html %}
        </nav>
      </div>
    </header>
    <main class="primary-content">
      {{ content }}
    </main>
    <footer class="primary-footer">
      <section class="container">
        {% include copyright.html %}
      </section>
    </footer>
  </body>
</html>
