<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}" />

    {% include page-title.html %}

    <link rel="stylesheet" href="/assets/styles/base.css">

    {% for css in layout.css %}
      <link rel="stylesheet" href="/assets/styles/{{ css }}" />
    {% endfor %}

    {% for css in page.css %}
      <link rel="stylesheet" href="/assets/styles/{{ css }}" />
    {% endfor %}
  </head>

  <body>
    <header class="primary-header">
      <h1>
        <a href="/">Nick Arora</a>
      </h1>
      <p>Software engineer specializing in full stack web applications</p>

    </header>
    <main class="primary-content">
      {{ content }}
    </main>
    <footer class="primary-footer">
      {% include copyright.html %}
      {% include social-media.html %}
    </footer>
  </body>
</html>
