---
layout: default
---

<article class="post container flow">
  <header>
    <h1>{{ page.title | escape }}</h1>
    <div class="post-metadata">
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
      {% include reading-time.html content=page.content %}
    </div>
  </header>

  {{ content }}

  {% if page.tags != empty  %}
    <div class="tags">
      {% for tag in page.tags %}
        <a href="/tag/{{ tag | replace: ' ', '-' }}" class="tag">
          {{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</article>
